<h1>hola soy la sección conocenos</h1>
<h2>Programador Web Inicial Front End 2023</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique in necessitatibus corporis sequi enim labore a
    repellat dignissimos ducimus incidunt! Minima perspiciatis doloremque error odit autem eligendi blanditiis
    consequuntur deleniti!</p>