<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/destacados">Destacados</a></li>
        <li><a href="/fotos">Fotos</a></li>
        <li><a href="/prueba">Prueba</a></li>
        <li><a href="/videos">videos</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
